<div id="container">
    <!-- <img src="/src/assets/Desktop - 21.png" alt="" class="bg"> -->
<div class="row">
    
        <div class="col-8">
            <div class="content">
                
                    <span style="margin-right: 10px;" class="icon-container"><img src="/assets/Vector.svg" alt="Login Icon" width="56" height="56" /></span>
               
                <span style="margin-right: 10px;">WareTech</span> <span>STORAGE MANAGEMENT</span>
                <br><br>
                <P>Smart storage, seamless logistics – delivering trust and step of the way!</P>
                    <div>
                        <img src="/assets/amico.jpg" alt="work">
                    </div>
            </div>
        </div>
    
    
            <div class="col-4">
                <div class="Loginpanel">
                        <div class="icon-container">
                            <img src="/assets/Vector.svg" alt="Login Icon" width="77" height="77" />
                          </div>
                    <h3>Sign In</h3>
                    <br>
                        <form action="">
                            <input type="text" placeholder="Username">
                            <br><br>
                            <input type="password" placeholder="Password">
                            <br><br>
                            <input type="submit">
                            <br>
                        </form>
                </div>
            </div>
</div>
       
       
</div>
